
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #136876;
    display: grid;
    place-items: center;
    margin: 0;
}

.memory-card {
    width: calc(20% - 10px);
    height: calc(27.333% - 10px);
    position: relative;
    margin: 21px;
    margin-top: 5%;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.main {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    background: repeating-radial-gradient(#1abdc7, #15a67e3d 23px);
    box-shadow: 0 -2px 369px rgb(42 241 248);
}

.front-face, .back-face {
    /* border: 2px solid deeppink; */
    position: absolute;
    width: 100%;
    height: 86%;
    padding: 20px;
    border-radius: 40px;
    background: #1abdc7;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}